{% extends 'bootstrap/base.html' %}

{% block content %}
        <!-- Team Start -->
        <div class="team" id="team">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>My Courses</p>
                    <h2>Courses I've Taken</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="static/images/ISAG.jpg" alt="Image">
                            </div>
                            <div class="team-text">
                                <h2>ISAG- European Business School</h2>
                                <h4>PostGraduate in Data Science and Business Intelligence</h4>
                                <p>
                                    Top Class Student
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="static/images/ISCAP.jpg" alt="Image">
                            </div>
                            <div class="team-text">
                                <h2>ISCAP</h2>
                                <h4>PostGraduate in Financial Audit</h4>
                                <p>
                                    Top 3 student
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="static/images/ISCAP.jpg" alt="Image">
                            </div>
                            <div class="team-text">
                                <h2>ISCAP</h2>
                                <h4>Bachelor in Accountacy</h4>
                                <p>
                                    Top Class Student in Consolidated Reporting with a perfect Score.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="static/images/Datacamp.jpg" alt="Image">
                            </div>
                            <div class="team-text">
                                <h2>DataCamp</h2>
                                <h4>Data Analyst w/Python</h4>
                                <p>
                                    72 Hour Course focused in Data Manipulation and Data Visualization.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->


{% endblock %}