{% extends 'bootstrap/base.html' %}

{% block content %}

        <!-- Service Start -->
        <div class="service" id="service">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>Experience</p>
                    <h2>What I Know</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-calculator"></i>
                            </div>
                            <div class="service-text" >
                                <h3>Financial Data Analysis</h3>
                                <p class="d-flex justify-content-center">
                                    Broad knowledge of accounting and financial analysis. With deep understanding of financial books and journals of the following
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-database"></i>
                            </div>
                            <div class="service-text">
                                <h3>SQL Developing</h3>
                                <p class="d-flex justify-content-center">
                                    Profficient in querying mainly using Oracle SQL.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fab fa-python"></i>
                            </div>
                            <div class="service-text">
                                <h3>Python Developing</h3>
                                <p class="d-flex justify-content-center">
                                    Freelance developer. With a few programs already created. Focused on OOP and Data Science.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fas fa-chart-pie"></i>
                            </div>
                            <div class="service-text">
                                <h3>Data visualization with PowerBI</h3>
                                <p class="d-flex justify-content-center">
                                    At ease with managing connections and constructing dashboards. Experienced with DAX
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->
         <!-- Experience Start -->
        <div class="experience" id="experience">
            <div class="container">
                <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>My Resume</p>
                    <h2>Working Experience</h2>
                </header>
                <div class="timeline">
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">2021 - </div>
                            <h2>Data Analyst</h2>
                            <h4>NOS SGPS, Porto, Portugal</h4>
                            <p>
                                Leveraging insights from Data w/SQL to minimize losses in Revenue. Worked in the ETL Process
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">2020 - 2021</div>
                            <h2>Senior Financial Auditor</h2>
                            <h4>MGI & Partners, Porto, Portugal</h4>
                            <p>
                                Responsible for 30 clients, financial data analysis and reporting.
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">2018-2020</div>
                            <h2>Finacial Auditor</h2>
                            <h4>M.Cunha & Partner, Porto, Portugal</h4>
                            <p>
                                Software tech support, consolidated reporting, PowerQuery and Excel development
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">2015 - 2018</div>
                            <h2>Junior Financial Auditor</h2>
                            <h4>Anjos & Partners, Porto, Portugal</h4>
                            <p>
                                Multi-disciplinary team, go to for management regarding complex excel tasks
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Job Experience End -->




{% endblock %}