{% extends 'bootstrap/base.html' %}

{% block content %}


<!--       &lt;!&ndash; Portfolio Start &ndash;&gt;-->
<!--        <div class="portfolio" id="portfolio">-->
<!--            <div class="container">-->
<!--                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">-->
<!--                    <p>My Portfolio</p>-->
<!--                    <h2>My Projects</h2>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--&lt;!&ndash;                    <div class="col-12">&ndash;&gt;-->
<!--&lt;!&ndash;                        <ul id="portfolio-filter">&ndash;&gt;-->
<!--&lt;!&ndash;                            <li data-filter="*" class="filter-active">All</li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li data-filter=".filter-1">Web Design</li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li data-filter=".filter-2">Mobile Apps</li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li data-filter=".filter-3">Game Dev</li>&ndash;&gt;-->
<!--&lt;!&ndash;                        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->
<!--                <div class="row portfolio-container">-->
<!--                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-1 wow fadeInUp" data-wow-delay="0.0s">-->
<!--                        <div class="portfolio-wrap">-->
<!--                            <div class="portfolio-img">-->
<!--                                <img src="img/portfolio-1.jpg" alt="Image">-->
<!--                            </div>-->
<!--                            <div class="portfolio-text">-->
<!--                                <h3>Visualizations</h3>-->
<!--                                <a class="btn" href="img/portfolio-1.jpg" data-lightbox="portfolio">+</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-2 wow fadeInUp" data-wow-delay="0.2s">-->
<!--                        <div class="portfolio-wrap">-->
<!--                            <div class="portfolio-img">-->
<!--                                <img src="img/portfolio-2.jpg" alt="Image">-->
<!--                            </div>-->
<!--                            <div class="portfolio-text">-->
<!--                                <h3>Python scripting</h3>-->
<!--                                <a class="btn" href="img/portfolio-2.jpg" data-lightbox="portfolio">+</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-3 wow fadeInUp" data-wow-delay="0.4s">-->
<!--                        <div class="portfolio-wrap">-->
<!--                            <div class="portfolio-img">-->
<!--                                <img src="img/portfolio-3.jpg" alt="Image">-->
<!--                            </div>-->
<!--                            <div class="portfolio-text">-->
<!--                                <h3>SQL scripting</h3>-->
<!--                                <a class="btn" href="img/portfolio-3.jpg" data-lightbox="portfolio">+</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-1 wow fadeInUp" data-wow-delay="0.6s">-->
<!--                        <div class="portfolio-wrap">-->
<!--                            <div class="portfolio-img">-->
<!--                                <img src="img/portfolio-4.jpg" alt="Image">-->
<!--                            </div>-->
<!--                            <div class="portfolio-text">-->
<!--                                <h3>Excel sheets</h3>-->
<!--                                <a class="btn" href="img/portfolio-4.jpg" data-lightbox="portfolio">+</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-2 wow fadeInUp" data-wow-delay="0.8s">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="portfolio-wrap">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="portfolio-img">&ndash;&gt;-->
<!--&lt;!&ndash;                                <img src="img/portfolio-5.jpg" alt="Image">&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="portfolio-text">&ndash;&gt;-->
<!--&lt;!&ndash;                                <h3>Social Mobile Apps</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                                <a class="btn" href="img/portfolio-5.jpg" data-lightbox="portfolio">+</a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-3 wow fadeInUp" data-wow-delay="1s">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="portfolio-wrap">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="portfolio-img">&ndash;&gt;-->
<!--&lt;!&ndash;                                <img src="img/portfolio-6.jpg" alt="Image">&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="portfolio-text">&ndash;&gt;-->
<!--&lt;!&ndash;                                <h3>Company Website</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                                <a class="btn" href="img/portfolio-6.jpg" data-lightbox="portfolio">+</a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--&lt;!&ndash;         Portfolio End&ndash;&gt;-->


{% endblock %}